body{margin:0px}
.post-container{
  width: 70%;
  height: 100%;
  margin: 0px auto 0px auto;
  background-color:#fffafa;}

.date{
  font-family:'Roboto';
  color:#008080;
}

h1{font-family:'Montserrat'
}

.post-content{
  width:90%;
  font-family:'Open Sans';
  font-weight:normal
}

.post{
  margin-left:50px;
  padding-top:20px;
  padding-left:50px;
}